.procedureCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
    margin-top: 16px !important;
}

.procedureCard {
    cursor: pointer;
    position: relative;
    display: block;
}

.procedureCardInner {
    border-radius: 7px;
    padding: 12px;
    position: relative;
    display: block;
}

.procedureCardRow {
    padding: 20px;
}

.procedureCardSection {
    margin-top: 20px;
}